<template>
  <v-row>
    <v-col sm="12" lg="4" md="4">
      <WeaponCard :weapon="weapon" />
    </v-col>
    <v-col sm="12" lg="8" md="8">
      <v-card>
        <v-card-text class="timeline-card">
          <div v-if="!weapon.serialNumber" class="text-center">
            <v-progress-circular
              :size="50"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
          <v-timeline v-else dense clipped>
            <v-timeline-item
              v-for="(timeline, index) in history"
              :key="index"
              class="mb-4"
              color="primary"
              icon-color="grey lighten-2"
              small
            >
              <v-row justify="space-between">
                <v-col cols="7">
                  <h4 class="black--text">{{ getTimelineTitle(index) }}</h4>
                  <p>{{ timeline.tx }}</p>
                  <p>
                    {{ timeline.weapon.editor || timeline.weapon.creator }}
                  </p>
                  <div v-if="index === 0 && currentUser.role_id === 3">
                    <v-btn class="primary" @click="editStatus = true"
                      >Изменить статус</v-btn
                    >
                    <v-btn class="primary" @click="editOwner = true"
                      >Изменить владельца</v-btn
                    >
                  </div>
                </v-col>
                <v-col class="text-right" cols="5">
                  {{
                    $moment(timeline.timestamp).format('DD.MM.YYYY HH:mm:ss')
                  }}</v-col
                >
              </v-row>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>
      </v-card>
    </v-col>
    <WeaponChangeOwnerDialog
      v-if="weapon.serialNumber"
      :dialog="editOwner"
      :weapon-owner-passport="weapon.ownerPassport"
      :weapon-serial-number="weapon.serialNumber"
      @close-dialog="
        editOwner = false
        update($event)
      "
    />
    <WeaponChangeStatusDialog
      v-if="weapon.serialNumber"
      :dialog="editStatus"
      :weapon-status="weapon.status"
      :weapon-serial-number="weapon.serialNumber"
      @close-dialog="
        editStatus = false
        update($event)
      "
    />
  </v-row>
</template>

<script>
import WeaponChangeOwnerDialog from '../../components/WeaponChangeOwnerDialog'
import WeaponChangeStatusDialog from '../../components/WeaponChangeStatusDialog'
export default {
  name: 'Index',
  components: { WeaponChangeStatusDialog, WeaponChangeOwnerDialog },
  data: () => {
    return {
      weapon: [],
      history: [],
      editOwner: false,
      editStatus: false,
    }
  },
  computed: {
    currentWeaponId() {
      return this.$route.params.id
    },
    currentUser() {
      return this.$nuxt.$auth.user
    },
  },
  async mounted() {
    await this.getWeaponHistoryBySerialNumber()
  },
  methods: {
    async getWeaponHistoryBySerialNumber() {
      await this.$axios
        .$get(`weapon/${this.currentWeaponId}/history`)
        .then((data) => {
          this.history = data
          if (data) {
            this.weapon = data[0].weapon
          }
        })
    },
    getTimelineTitle(index) {
      const current = this.history[index]
      const previous = this.history[index + 1]
      if (!previous || previous.weapon.status === 'UNREGISTERED') {
        return 'Постановка на учет'
      } else if (previous.weapon.status !== current.weapon.status) {
        return 'Смена статуса'
      } else if (
        previous.weapon.ownerPassport !== current.weapon.ownerPassport
      ) {
        return 'Смена владельца'
      }
    },
    update(e) {
      if (e) {
        this.getWeaponHistoryBySerialNumber()
      }
    },
  },
}
</script>

<style scoped>
.timeline-card {
  max-height: 800px;
  overflow: auto;
}
</style>
