<template>
  <v-card>
    <v-card-title>Выберите тип услуги</v-card-title>
    <v-card-text>
      <v-col lg="6" md="6" sm="12" align-self="baseline">
        <v-select
          v-model="selectedService"
          :items="services"
          label="Тип услуги"
          filled
          return-object
          dense
          item-text="title"
          item-value="type"
        >
        </v-select>
        <v-btn
          color="primary"
          :disabled="!selectedService"
          @click="chooseService"
          >Продолжить</v-btn
        >
      </v-col>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Index',
  data: () => {
    return {
      selectedService: '',
      form: '',
      services: [],
    }
  },
  mounted() {
    this.getServiceTypes()
  },
  methods: {
    chooseService() {
      if (this.selectedService.type === 1) {
        this.$nuxt.$router.push(`service/register`)
      } else {
        this.$nuxt.$router.push(`service/deregister`)
      }
    },
    async getServiceTypes() {
      this.services = await this.$axios.$get('/service/types').then((data) => {
        return data.map((type) => ({
          type: type.id,
          title: type.name,
        }))
      })
    },
  },
}
</script>

<style scoped></style>
