<template>
  <v-row>
    <v-col v-if="user" sm="12" lg="4" md="4">
      <ProfileCard :user="user" />
    </v-col>
    <v-col v-if="user && user.role_id === 1" sm="12" lg="8" md="8">
      <v-card>
        <v-card-text>
          <v-tabs v-model="currentTab" align-with-title grow>
            <v-tab>Оружие на учете</v-tab>
            <v-tab>История заявлений</v-tab>
          </v-tabs>
          <v-tabs-items v-model="currentTab">
            <v-tab-item>
              <v-alert
                v-if="!weapons.length && !isWeaponsLoading"
                type="warning"
                class="mt-5"
                >Оружия в системе не найдены</v-alert
              >
              <div v-else-if="isWeaponsLoading" class="text-center mt-5">
                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
              <WeaponPreviewCard
                v-for="weapon in weapons"
                v-else
                :key="weapon.id"
                :weapon="weapon"
                class="ma-4"
              />
            </v-tab-item>
            <v-tab-item>
              <v-alert
                v-if="!services.length && !isServicesLoading"
                type="warning"
                class="mt-5"
                >Заявления в системе не найдены</v-alert
              >
              <div v-else-if="isServicesLoading" class="text-center mt-5">
                <v-progress-circular
                  :size="50"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
              <ApplicationPreviewCard
                v-for="service in services"
                v-else
                :key="service.id"
                :service="service"
                class="ma-4"
              />
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import ProfileCard from '../../components/ProfileCard'
export default {
  name: 'Index',
  components: { ProfileCard },
  data() {
    return {
      currentTab: 0,
      services: [],
      weapons: [],
      isWeaponsLoading: true,
      isServicesLoading: true,
      user: '',
    }
  },
  computed: {
    currentUser() {
      return this.$nuxt.$auth.user
    },
    currentUserId() {
      return this.$route.params.id
    },
  },
  mounted() {
    if (this.currentUserId) {
      this.getUserById()
      this.getUserServicesById()
      this.getUserWeaponsById()
    } else {
      this.getUser()
      this.getUserServices()
      this.getUserWeapons()
    }
  },
  methods: {
    async getUserServices() {
      this.isServicesLoading = true
      await this.$axios
        .$get('/service')
        .then((data) => {
          this.services = data
        })
        .finally(() => {
          this.isServicesLoading = false
        })
    },
    async getUserWeapons() {
      this.isWeaponsLoading = true
      await this.$axios
        .$get('weapon')
        .then((data) => {
          this.weapons = data
        })
        .finally(() => {
          this.isWeaponsLoading = false
        })
    },
    getUser() {
      this.user = this.currentUser
    },
    async getUserServicesById() {
      this.isServicesLoading = true
      await this.$axios
        .$get(`service/user/${this.currentUserId}`)
        .then((data) => {
          this.services = data
        })
        .finally(() => {
          this.isServicesLoading = false
        })
    },
    async getUserById() {
      await this.$axios.$get(`user/${this.currentUserId}`).then((data) => {
        this.user = data
      })
    },
    async getUserWeaponsById() {
      this.isWeaponsLoading = true
      await this.$axios
        .$get(`weapon/user/${this.currentUserId}`)
        .then((data) => {
          this.weapons = data
        })
        .finally(() => {
          this.isWeaponsLoading = false
        })
    },
  },
}
</script>

<style scoped></style>
