<template>
  <v-row>
    <v-col cols="2">
      <SearchForm @form-submit="getWeapons" :isLoading="isLoading" />
    </v-col>
    <v-col cols="10">
      <v-card>
        <v-card-title>Результаты поиска</v-card-title>
        <v-card-text>
          <v-alert
            v-if="!result.length && !isLoading"
            type="warning"
            class="mt-5"
            >По вашему запросу ничего не найдено
          </v-alert>
          <div v-else-if="isLoading" class="text-center">
            <v-progress-circular
              :size="50"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
          <WeaponPreviewCard
            v-for="weapon in result"
            v-else
            :key="weapon.id"
            :weapon="weapon"
            class="ma-4"
          />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import SearchForm from '../../components/WeaponSearchForm'
import { getUrlParamsFromObject } from '../../static/utils'
export default {
  name: 'Index',
  components: { SearchForm },
  data: () => {
    return {
      isLoading: false,
      result: [],
    }
  },
  mounted() {
    this.getWeapons()
  },
  methods: {
    async getWeapons(query = '') {
      this.isLoading = true
      await this.$axios
        .$get(`weapon/search?${getUrlParamsFromObject(query)}`)
        .then((data) => {
          this.result = data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>

<style scoped></style>
