<template>
  <v-app>
    <v-app-bar color="primary" app>
      <v-btn icon dark @click="isDrawerMinifed = !isDrawerMinifed">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-navigation-drawer app permanent :mini-variant="isDrawerMinifed">
      <v-sheet v-if="!isDrawerMinifed" color="primary" class="text-center">
        <v-col align-items="center">
          <v-avatar class="mb-4" color="white darken-1" size="64">
            <img :src="imgSrc" />
          </v-avatar>
          <header class="white--text">
            <b>{{ currentUser.name }} {{ currentUser.last_name }}</b>
          </header>
          <v-list-item-subtitle class="white--text"
            >{{ currentUser.phone_number }}
          </v-list-item-subtitle>
        </v-col>
      </v-sheet>
      <v-divider></v-divider>
      <v-list>
        <v-list-item
          v-for="{ link, icon, name } in links"
          :key="link"
          :to="link"
          link
        >
          <v-list-item-icon v-if="icon">
            <v-icon color="black">{{ icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template #append>
        <v-btn block text @click="logout">
          <v-icon>mdi-logout</v-icon>
          <span v-if="!isDrawerMinifed">Выход</span>
        </v-btn>
      </template>
    </v-navigation-drawer>
    <v-main>
      <v-container class="py-8 px-6" fluid>
        <nuxt></nuxt>
      </v-container>
    </v-main>
    <v-footer padless>
      <v-col class="text-center" cols="12">
        Прототип децентрализованной системы учета оружия -
        {{ new Date().getFullYear() }}
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import jsSHA from 'jssha'
import Identicon from 'identicon.js'
import { navigationLinks } from '../static/utils'

export default {
  data() {
    return {
      cards: ['Today', 'Yesterday'],
      isDrawerMinifed: false,
    }
  },
  computed: {
    links() {
      return navigationLinks.filter((link) => {
        return (
          link.roles.length === 0 ||
          link.roles.includes(this.currentUser.role_id)
        )
      })
    },
    currentUser() {
      return this.$nuxt.$auth.user
    },
    imgSrc() {
      // eslint-disable-next-line new-cap
      const shaObj = new jsSHA('SHA3-256', 'TEXT')
      shaObj.update(this.currentUser.phone_number)
      const hexHash = shaObj.getHash('HEX')
      return 'data:image/jpeg;base64,' + new Identicon(hexHash, 64).toString()
    },
  },
  methods: {
    logout() {
      this.$nuxt.$auth.logout()
      this.$router.push('/auth')
    },
  },
}
</script>
