<template>
  <v-container>
    <v-tabs v-model="currentTab" class="mt-0" @change="onTabChanged">
      <v-tab>Заявления</v-tab>
      <v-tab>Пользователи</v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item class="pa-2">
        <v-row justify="center" class="mt-8">
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="info"
              icon="mdi-file-document"
              title="Всего"
              :value="stats.amountOfServiceTotal"
            />
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="info"
              icon="mdi-cog-outline"
              title="Не обработано"
              :value="stats.amountOfServicesApplied"
            />
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="success"
              icon="mdi-checkbox-marked-outline"
              title="Удовлетворено"
              :value="stats.amountOfServicesAccepted"
            />
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="red"
              icon="mdi-close-box-outline"
              title="Отказано"
              :value="stats.amountOfServicesRejected"
            />
          </v-col>
        </v-row>
        <v-row class="mt-10">
          <v-col cols="12" lg="5">
            <MaterialChartCard
              :data="serviceChartByDate.data"
              :options="serviceChartByDate.options"
              color="blue"
              hover-reveal
              type="Bar"
              class="px-5 py-3"
            >
              <template #reveal-actions>
                <v-tooltip bottom>
                  <template #activator="{ attrs, on }">
                    <v-btn v-bind="attrs" color="info" icon v-on="on">
                      <v-icon color="info"> mdi-refresh </v-icon>
                    </v-btn>
                  </template>
                  <span>Refresh</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template #activator="{ attrs, on }">
                    <v-btn v-bind="attrs" light icon v-on="on">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <span>Change Date</span>
                </v-tooltip>
              </template>
              <h4 class="card-title font-weight-light mt-2 ml-2">
                Количество заявлений по статусу
              </h4>
              <!--              <p class="d-inline-flex font-weight-light ml-2 mt-1">-->
              <!--                Количество заявлений по статусу-->
              <!--              </p>-->
            </MaterialChartCard>
            <MaterialChartCard
              :data="serviceChartByStatus.data"
              :options="serviceChartByStatus.options"
              color="blue"
              hover-reveal
              type="Pie"
              class="px-5 py-3 mt-10"
            >
              <template #reveal-actions>
                <v-tooltip bottom>
                  <template #activator="{ attrs, on }">
                    <v-btn v-bind="attrs" color="info" icon v-on="on">
                      <v-icon color="info"> mdi-refresh </v-icon>
                    </v-btn>
                  </template>
                  <span>Refresh</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template #activator="{ attrs, on }">
                    <v-btn v-bind="attrs" light icon v-on="on">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <span>Change Date</span>
                </v-tooltip>
              </template>
              <h4 class="card-title font-weight-light mt-2 ml-2">
                Количество заявлений по дате
              </h4>
              <!--              <p class="d-inline-flex font-weight-light ml-2 mt-1">-->
              <!--                Количество заявлений по дням недели-->
              <!--              </p>-->
            </MaterialChartCard>
          </v-col>
          <v-col cols="12" lg="7">
            <div>
              <v-text-field
                v-model="latestService.search"
                class="mx-1"
                filled
                dense
                append-icon="mdi-magnify"
                label="Поиск по заявлениям"
                single-line
                clearable
              ></v-text-field>
              <v-data-table
                :headers="latestService.headers"
                :items="latestService.data"
                :items-per-page="10"
                item-key="created_at"
                :loading="latestService.isLoading"
                :search="latestService.search"
                loading-text="Загрузка данных с сервера"
                class="elevation-0"
              >
                <template #item.status.name="{ item }">
                  <Status :status="item.status.name" />
                </template>
                <template #item.updated_at="{ item }">
                  {{ $moment(item.updated_at).format('DD.MM.YYYY HH:mm:ss') }}
                </template>
                <template #item.created_at="{ item }">
                  {{ $moment(item.created_at).format('DD.MM.YYYY HH:mm:ss') }}
                </template>
              </v-data-table>
            </div>
          </v-col>
        </v-row>
      </v-tab-item>
      <v-tab-item class="pa-2">
        <v-row justify="center" class="mt-8">
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="info"
              icon="mdi-account-box-outline"
              title="Всего"
              :value="stats.amountOfUsersTotal"
            />
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="info"
              icon="mdi-account-outline"
              title="Без роли"
              :value="stats.amountOfCommonUsers"
            />
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="info"
              icon="mdi-account-star-outline"
              title="Модераторы"
              :value="stats.amountOfModeratorUsers"
            />
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="3">
            <material-stats-card
              color="info"
              icon="mdi-account-supervisor-outline"
              title="Администраторы"
              :value="stats.amountOfAdminUsers"
            />
          </v-col>
        </v-row>
        <v-row class="mt-10">
          <v-col cols="12" sm="6" md="6" lg="6">
            <v-text-field
              v-model="latestLogins.search"
              class="mx-1"
              filled
              dense
              append-icon="mdi-magnify"
              label="Поиск по входу"
              single-line
              clearable
            ></v-text-field>
            <v-data-table
              :headers="latestLogins.headers"
              :items="latestLogins.data"
              :items-per-page="10"
              :search="latestLogins.search"
              item-key="issued_at"
              :loading="latestLogins.isLoading"
              loading-text="Загрузка данных с сервера"
              class="elevation-0"
            >
              <template #item.name="{ item }">
                <nuxt-link :to="'/profile/' + item.id"
                  >{{ item.last_name }} {{ item.name }}
                  {{ item.middle_name }}</nuxt-link
                >
              </template>
              <template #item.role="{ item }">
                <v-chip :color="'grey lighten-4'" class="black--text" label>
                  {{ item.role }}
                </v-chip>
              </template>
              <template #item.issued_at="{ item }">
                {{ $moment(item.issued_at).format('DD.MM.YYYY HH:mm:ss') }}
              </template>
            </v-data-table>
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="6">
            <v-text-field
              v-model="allUsers.search"
              class="mx-1"
              filled
              dense
              append-icon="mdi-magnify"
              label="Поиск по всем пользователям"
              single-line
              clearable
            ></v-text-field>
            <v-data-table
              :headers="allUsers.headers"
              :items="allUsers.data"
              :items-per-page="10"
              :search="allUsers.search"
              item-key="updated_at"
              :loading="allUsers.isLoading"
              loading-text="Загрузка данных с сервера"
              class="elevation-0"
            >
              <template #item.name="{ item }">
                <nuxt-link :to="'/profile/' + item.id"
                  >{{ item.last_name }} {{ item.name }}
                  {{ item.middle_name }}</nuxt-link
                >
              </template>
              <template #item.role="{ item }">
                <v-chip :color="'grey lighten-4'" class="black--text" label>
                  {{ item.role.name }}
                </v-chip>
              </template>
              <template #item.created_at="{ item }">
                {{ $moment(item.created_at).format('DD.MM.YYYY HH:mm:ss') }}
              </template>
              <template #item.updated_at="{ item }">
                {{ $moment(item.updated_at).format('DD.MM.YYYY HH:mm:ss') }}
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>
import MaterialStatsCard from '../../components/MaterialStatsCard'
import MaterialChartCard from '../../components/MaterialChartCard'
import MaterialCard from '../../components/MaterialCard'
import ApplicationPreviewCard from '../../components/ApplicationPreviewCard'
import Status from '../../components/Status'

export default {
  name: 'Index',
  components: {
    Status,
    ApplicationPreviewCard,
    MaterialCard,
    MaterialChartCard,
    MaterialStatsCard,
  },
  data() {
    return {
      currentTab: 0,
      allUsers: {
        search: '',
        isLoading: false,
        headers: [
          { text: 'ФИО', value: 'name', sortable: false },
          { text: 'Роль', value: 'role', sortable: false },
          {
            text: 'Дата регистрации',
            align: 'start',
            value: 'created_at',
          },
          {
            text: 'Дата обновления',
            align: 'start',
            value: 'created_at',
          },
        ],
        data: [],
      },
      latestLogins: {
        search: '',
        isLoading: false,
        headers: [
          { text: 'ФИО', value: 'name', sortable: false },
          { text: 'Роль', value: 'role', sortable: false },
          {
            text: 'Дата входа',
            align: 'start',
            value: 'issued_at',
          },
        ],
        data: [],
      },
      latestService: {
        search: '',
        isLoading: false,
        headers: [
          { text: 'Тип заявления', value: 'service_type.name' },
          { text: 'Статус заявления', value: 'status.name' },
          {
            text: 'Дата создания',
            align: 'start',
            value: 'created_at',
          },
          {
            text: 'Дата создания',
            align: 'start',
            value: 'updated_at',
          },
        ],
        data: [],
      },
      serviceChartByDate: {
        data: {
          labels: [],
          series: [[]],
        },
        options: {
          axisX: {
            showGrid: false,
          },
          low: 0,
          high: 1,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0,
          },
        },
        responsiveOptions: [
          [
            'screen and (max-width: 640px)',
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc(value) {
                  return value[0]
                },
              },
            },
          ],
        ],
      },
      serviceChartByStatus: {
        data: {
          labels: [],
          series: [],
        },
        responsiveOptions: [
          [
            'screen and (max-width: 640px)',
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc(value) {
                  return value[0]
                },
              },
            },
          ],
        ],
      },
      stats: '',
    }
  },
  mounted() {
    this.getServiceInfo()
  },
  methods: {
    getServiceInfo() {
      this.getStats()
      this.getLatestService()
      this.getCharts()
    },
    getUsersInfo() {
      this.getStats()
      this.getLatestLogins()
      this.getAllUsers()
    },
    async getStats() {
      await this.$axios.$get('dashboard/stats').then((data) => {
        this.stats = data
      })
    },
    async getLatestService() {
      this.latestService.isLoading = true
      await this.$axios
        .$get('service/latest')
        .then((data) => {
          this.latestService.data = data
        })
        .finally(() => {
          this.latestService.isLoading = false
        })
    },
    async getCharts() {
      await this.$axios.$get('dashboard/service-by-date').then((data) => {
        const headers = []
        const values = []
        let max = 0
        data.forEach(({ date, amount }) => {
          headers.push(date)
          values.push(amount)
          if (amount > max) {
            max = amount
          }
        })
        this.serviceChartByDate.data.labels = headers
        this.serviceChartByDate.data.series = [values]
        this.serviceChartByDate.options.high = max
      })
      await this.$axios.$get('dashboard/service-by-status').then((data) => {
        const headers = []
        const values = []
        data.forEach(({ status_name, amount }) => {
          headers.push(status_name)
          values.push(amount)
        })
        this.serviceChartByStatus.data.labels = headers
        this.serviceChartByStatus.data.series = values
      })
    },
    async getLatestLogins() {
      this.latestLogins.isLoading = true
      await this.$axios
        .$get('auth/latest')
        .then((data) => {
          this.latestLogins.data = data
        })
        .finally(() => {
          this.latestLogins.isLoading = false
        })
    },
    async getAllUsers() {
      this.allUsers.isLoading = true
      await this.$axios
        .$get('user/all')
        .then((data) => {
          this.allUsers.data = data
        })
        .finally(() => {
          this.allUsers.isLoading = false
        })
    },
    onTabChanged(data) {
      if (data === 0) {
        this.getServiceInfo()
      } else {
        this.getUsersInfo()
      }
    },
  },
}
</script>

<style lang="scss">
.small {
  width: 900px;
  height: 200px;
}
</style>
