<template>
  <v-dialog v-model="dialog" class="dialog" persistent width="60%">
    <v-card>
      <v-card-title>
        Заявление №{{ service.id }}
        <v-spacer />
        <v-btn icon @click="close"
          ><v-icon color="black">mdi-close</v-icon></v-btn
        >
      </v-card-title>

      <v-card-text v-if="currentService">
        <v-row>
          <v-col cols="6">
            <v-tabs v-model="currentTab">
              <v-tab>Заявление</v-tab>
              <v-tab>Заявитель</v-tab>
              <v-tab>Оружие</v-tab>
            </v-tabs>
            <v-tabs-items v-model="currentTab">
              <v-tab-item>
                <v-card-text class="pa-4">
                  <v-text-field
                    label="Тип заявления"
                    :value="currentService.service_type.name"
                    filled
                    disabled
                  ></v-text-field>
                  <v-text-field
                    label="Статус заявления"
                    :value="currentService.status.name"
                    filled
                    disabled
                  ></v-text-field>
                  <v-text-field
                    label="Дата создания"
                    :value="
                      $moment(currentService.created_at).format(
                        'DD.MM.YYYY HH:mm:ss'
                      )
                    "
                    filled
                    disabled
                  ></v-text-field>
                  <v-text-field
                    label="Дата обновления"
                    :value="
                      $moment(currentService.updated_at).format(
                        'DD.MM.YYYY HH:mm:ss'
                      )
                    "
                    filled
                    disabled
                  ></v-text-field>
                </v-card-text>
              </v-tab-item>
              <v-tab-item>
                <ProfileCard
                  :flat="true"
                  :hide-title="true"
                  :user="currentService.user"
                />
              </v-tab-item>
              <v-tab-item>
                <WeaponCard
                  :flat="true"
                  :hide-title="true"
                  :weapon="currentService.weapon"
                />
              </v-tab-item>
            </v-tabs-items>
          </v-col>
          <v-col cols="6">
            <v-card flat>
              <v-card-text class="timeline-card">
                <v-timeline dense clipped>
                  <v-timeline-item
                    v-if="
                      currentService.created_at !== currentService.updated_at &&
                      currentService.status_id === 2
                    "
                    class="mb-4"
                    color="green"
                    small
                  >
                    <v-row justify="space-between">
                      <v-col cols="7"> Заявление удовлетворено </v-col>
                      <v-col class="text-right" cols="5">
                        {{
                          $moment(currentService.updated_at).format(
                            'DD.MM.YYYY HH:mm:ss'
                          )
                        }}
                      </v-col>
                    </v-row>
                  </v-timeline-item>
                  <v-timeline-item
                    v-if="
                      currentService.created_at !== currentService.updated_at &&
                      currentService.status_id === 3
                    "
                    class="mb-4"
                    color="red"
                    small
                  >
                    <v-row justify="space-between">
                      <v-col cols="7"> Заявление отклонено </v-col>
                      <v-col class="text-right" cols="5">
                        {{
                          $moment(currentService.updated_at).format(
                            'DD.MM.YYYY HH:mm:ss'
                          )
                        }}
                      </v-col>
                    </v-row>
                  </v-timeline-item>
                  <v-timeline-item
                    v-if="
                      currentService.created_at !== currentService.updated_at
                    "
                    class="mb-4"
                    color="grey"
                    small
                  >
                    <v-row justify="space-between">
                      <v-col cols="7"> Заявление взято в работу </v-col>
                      <v-col class="text-right" cols="5">
                        {{
                          $moment(currentService.updated_at).format(
                            'DD.MM.YYYY HH:mm:ss'
                          )
                        }}
                      </v-col>
                    </v-row>
                  </v-timeline-item>
                  <v-timeline-item class="mb-4" color="grey" small>
                    <v-row justify="space-between">
                      <v-col cols="7">
                        <span>Заявление зарегистрировано</span>
                        <v-row
                          v-if="
                            currentService.created_at ===
                              currentService.updated_at &&
                            currentUser.role_id !== 1
                          "
                          class="mt-5"
                        >
                          <v-btn
                            text
                            :loading="isLoading"
                            @click="changeStatus(3)"
                            >Отклонить</v-btn
                          >
                          <v-btn
                            class="ml-2 primary"
                            :loading="isLoading"
                            @click="changeStatus(2)"
                            >Принять</v-btn
                          >
                        </v-row>
                      </v-col>
                      <v-col class="text-right" cols="5">
                        {{
                          $moment(currentService.created_at).format(
                            'DD.MM.YYYY HH:mm:ss'
                          )
                        }}
                      </v-col>
                    </v-row>
                  </v-timeline-item>
                </v-timeline>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ApplicationDetailDialog',
  props: {
    dialog: Boolean,
    service: {
      created_at: Date,
      id: Number,
      service_type_id: Number,
      status: { id: Number, name: 'Создан', description: String },
      status_id: Number,
      updated_at: Date,
      user_id: Number,
      user: {
        id: Number,
        name: String,
        last_name: String,
        middle_name: String,
        birth_data: Date,
        phone_number: String,
        passport: {
          code: String,
          id: Number,
          issued_at: String,
          issued_by: String,
          number: String,
          serial: String,
        },
        status: {
          description: String,
          id: Number,
          name: String,
        },
        role: {
          description: String,
          id: Number,
          name: String,
        },
        created_at: Date,
        updated_at: Date,
      },
      weapon: {
        name: String,
        serial_number: String,
        description: String,
        id: Number,
      },
    },
  },
  data: () => {
    return {
      currentTab: 0,
      currentService: '',
      isLoading: false,
    }
  },
  computed: {
    currentUser() {
      return this.$nuxt.$auth.user
    },
  },
  mounted() {
    this.getData()
  },
  methods: {
    close() {
      this.$emit('close-dialog')
    },
    getData() {
      this.isLoading = true
      this.$axios
        .$get(`/service/${this.service.id}`)
        .then((data) => {
          this.currentService = data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    async changeStatus(statusId) {
      this.isLoading = true
      await this.$axios
        .$put(`service/${this.service.id}`, {
          statusId,
        })
        .then(async (data) => {
          await this.getData()
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>

<style scoped>
v-dialog {
  max-width: 60%;
}
</style>
