<template>
  <v-card outlined hover @click="isDetailEnabled = true">
    <ApplicationDetailDialog
      v-if="isDetailEnabled"
      :dialog="isDetailEnabled"
      :service="service"
      @close-dialog="isDetailEnabled = false"
    />
    <v-card-title>
      <span>Заявление №{{ service.id }}</span>
      <v-spacer></v-spacer>
      <Status :status="service.status.name" />
    </v-card-title>
    <v-card-text class="pb-0">
      <p>
        <v-icon color="black" class="pr-2"
          >mdi-folder-information-outline</v-icon
        >
        Наименование: {{ service.weapon.name }}
      </p>
      <p>
        <v-icon color="black" class="pr-2"
          >mdi-card-account-details-outline</v-icon
        >
        Серийный номер: {{ service.weapon.serial_number }}
      </p>
      <p v-if="service.weapon.description">
        <v-icon color="black" class="pr-2"
          >mdi-card-account-details-outline</v-icon
        >
        Описание: {{ service.weapon.description }}
      </p>
    </v-card-text>
    <v-card-actions class="mt-0 pt-0">
      <v-chip-group show-arrows>
        <v-chip color="secondary">
          <v-icon class="pr-2" small>mdi-cog-outline</v-icon>
          {{ service.service_type.name }}
        </v-chip>
        <v-chip color="secondary">
          <v-icon small class="pr-2">mdi-calendar</v-icon>
          Создано -
          {{ $moment(service.created_at).format('DD.MM.YYYY HH:mm:ss') }}
        </v-chip>
        <v-chip color="secondary">
          <v-icon small class="pr-2">mdi-calendar</v-icon>
          Обновлено -
          {{ $moment(service.created_at).format('DD.MM.YYYY HH:mm:ss') }}
        </v-chip>
      </v-chip-group>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ApplicationPreviewCard',
  props: {
    service: {
      created_at: Date,
      id: Number,
      service_type_id: Number,
      status: { id: Number, name: 'Создан', description: String },
      status_id: Number,
      updated_at: Date,
      user_id: Number,
      weapon: {
        name: String,
        serial_number: String,
        description: String,
        id: Number,
      },
      weapon_id: Number,
    },
  },
  data: () => {
    return {
      isDetailEnabled: false,
    }
  },
}
</script>

<style scoped></style>
