<template>
  <v-card :flat="flat">
    <v-card-title v-if="!hideTitle">Информация о профиле</v-card-title>
    <v-card-subtitle v-if="!hideTitle"
      >В системе с {{ $moment(user.created_at).format('DD.MM.YYYY') }}</v-card-subtitle
    >
    <v-card-text class="pa-4">
      <v-row class="px-3">
        <v-text-field
          :value="user.name"
          label="Имя"
          filled
          disabled
        ></v-text-field>
        <v-spacer/>
        <v-text-field
          :value="user.last_name"
          label="Фамилия"
          filled
          disabled
        ></v-text-field>
      </v-row>
      <v-text-field
        :value="user.middle_name"
        label="Отчество"
        filled
        disabled
      ></v-text-field>
      <v-text-field
        :value="user.phone_number"
        label="Телефон"
        filled
        disabled
      ></v-text-field>
      <v-text-field
        :value="getPassportNumber(user.passport)"
        label="Паспортные данные"
        filled
        disabled
      ></v-text-field>
      <v-text-field
        :value="user.role.name"
        label="Роль"
        filled
        disabled
      ></v-text-field>
      <v-text-field
        :value="user.status.name"
        label="Статус"
        filled
        disabled
      ></v-text-field>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ProfileCard',
  props: {
    flat: {
      type: Boolean,
      default: false,
    },
    hideTitle: {
      type: Boolean,
      default: false,
    },
    user: {
      id: Number,
      name: String,
      last_name: String,
      middle_name: String,
      birth_data: Date,
      phone_number: String,
      passport: {
        code: String,
        id: Number,
        issued_at: String,
        issued_by: String,
        number: String,
        serial: String,
      },
      status: {
        description: String,
        id: Number,
        name: String,
      },
      role: {
        description: String,
        id: Number,
        name: String,
      },
      created_at: Date,
      updated_at: Date,
    },
  },
  methods: {
    getPassportNumber({ number = '', serial = '' }) {
      return `${serial} ${number}`
    },
  },
}
</script>

<style scoped></style>
