<template>
  <v-card>
    <v-card-title> Фильтры по <br>заявлениям </v-card-title>
    <v-card-text>
      <v-text-field
        v-model="query.last_name"
        dense
        filled
        label="Фамилия"
      ></v-text-field>
      <v-text-field
        v-model="query.name"
        dense
        filled
        label="Имя"
      ></v-text-field>
      <v-text-field
        v-model="query.middle_name"
        dense
        filled
        label="Отчество"
      ></v-text-field>
      <v-text-field
        v-model="query.serial"
        dense
        filled
        label="Серия паспорта"
      ></v-text-field>
      <v-text-field
        v-model="query.number"
        dense
        filled
        label="Номер паспорта"
      ></v-text-field>
      <v-select
        v-model="query.service_type_id"
        filled
        dense
        label="Тип услуги"
        item-text="name"
        item-value="id"
        :items="serviceTypes"
      ></v-select>
      <v-select
        v-model="query.status_id"
        filled
        dense
        label="Статус"
        item-text="name"
        item-value="id"
        :items="serviceStatuses"
      ></v-select>
<!--      <v-menu v-model="menu1" :close-on-content-click="false" max-width="290">-->
<!--        <template #activator="{ on, attrs }">-->
<!--          <v-text-field-->
<!--            :value="formatDate(query.created_at)"-->
<!--            clearable-->
<!--            filled-->
<!--            dense-->
<!--            label="Первичная дата регистрации"-->
<!--            append-icon="mdi-calendar"-->
<!--            readonly-->
<!--            v-bind="attrs"-->
<!--            v-on="on"-->
<!--            @click:clear="query.created_at = null"-->
<!--          ></v-text-field>-->
<!--        </template>-->
<!--        <v-date-picker-->
<!--          v-model="query.created_at"-->
<!--          @change="menu1 = false"-->
<!--        ></v-date-picker>-->
<!--      </v-menu>-->
<!--      <v-menu v-model="menu2" :close-on-content-click="false" max-width="290">-->
<!--        <template #activator="{ on, attrs }">-->
<!--          <v-text-field-->
<!--            :value="formatDate(query.updated_at)"-->
<!--            clearable-->
<!--            filled-->
<!--            dense-->
<!--            label="Дата обновления"-->
<!--            append-icon="mdi-calendar"-->
<!--            readonly-->
<!--            v-bind="attrs"-->
<!--            v-on="on"-->
<!--            @click:clear="query.updated_at = null"-->
<!--          ></v-text-field>-->
<!--        </template>-->
<!--        <v-date-picker-->
<!--          v-model="query.updated_at"-->
<!--          @change="menu2 = false"-->
<!--        ></v-date-picker>-->
<!--      </v-menu>-->
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn text @click="clear">Очистить</v-btn>
      <v-btn class="primary" :loading="loading" @click="submit">Поиск</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ServiceSearchForm',
  props: {
    loading: Boolean,
  },
  data: () => {
    return {
      query: {
        name: '',
        last_name: '',
        middle_name: '',
        serial: '',
        number: '',
        service_type_id: '',
        status_id: '',
        updated_at: '',
        created_at: '',
      },
      serviceTypes: [],
      serviceStatuses: [],
      menu1: false,
      menu2: false,
    }
  },
  mounted() {
    this.getServiceTypes()
    this.getServiceStatuses()
  },
  methods: {
    formatDate(date) {
      return date ? this.$nuxt.$moment(date).format('DD.MM.YYYY') : ''
    },
    async getServiceTypes() {
      await this.$axios.$get('service/types').then((data) => {
        this.serviceTypes = data
      })
    },
    async getServiceStatuses() {
      await this.$axios.$get('service/statuses').then((data) => {
        this.serviceStatuses = data
      })
    },
    clear() {
      Object.keys(this.query).forEach((key) => {
        this.query[key] = ''
      })
    },
    submit() {
      const body = {}
      Object.keys(this.query).forEach((key) => {
        if (this.query[key]) {
          body[key] = this.query[key]
        }
      })
      this.$emit('form-submit', body)
    },
  },
}
</script>

<style scoped></style>
