<template>
  <v-card height="200" width="300">
    <v-card-text class="stat--card black--text">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <h1 v-bind="attrs"
               v-on="on">
            <v-icon color="black" large>{{ icon }}</v-icon>
            {{ amount }}
          </h1>
          <span class="subheader">{{ title }}</span>
        </template>
        <span>{{tooltip}}</span>
      </v-tooltip>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'StatCard',
  props: {
    icon: String,
    title: String,
    amount: Number,
    tooltip: String,
  },
}
</script>

<style scoped>
.stat--card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
