<template>
  <v-chip :color="statusColor" class="white--text" label>{{ status }}</v-chip>
</template>

<script>
export default {
  name: 'Status',
  props: {
    status: {
      type: String,
      required: true,
    },
  },
  computed: {
    statusColor() {
      if (['Зарегистрировано', 'СНЯТО С УЧЕТА'].includes(this.status)) {
        return 'orange'
      } else if (
        ['Отклонено', 'УНИЧТОЖЕНО', 'ВЫВЕЗЕНО'].includes(this.status)
      ) {
        return 'red'
      } else if (['Удовлетворено', 'НА УЧЕТЕ'].includes(this.status)) {
        return 'green'
      }
    },
  },
}
</script>

<style scoped></style>
