<template>
  <v-card>
    <v-card-title>Фильтры по оружию</v-card-title>
    <v-card-text>
      <v-text-field
        v-model="query.serialNumber"
        filled
        dense
        label="Сериный номер"
        persistent-hint
      ></v-text-field>
      <v-text-field
        v-model="query.ownerPassport"
        filled
        dense
        label="Паспортные данные"
        persistent-hint
      ></v-text-field>
      <v-select
        filled
        dense
        label="Статус"
        v-model="query.status"
        :items="availableStatuses"
      ></v-select>
      <v-menu v-model="menu1" :close-on-content-click="false" max-width="290">
        <template #activator="{ on, attrs }">
          <v-text-field
            :value="formatDate(query.createdAt)"
            clearable
            filled
            dense
            label="Первичная дата регистрации"
            append-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            @click:clear="query.createdAt = null"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="query.createdAt"
          @change="menu1 = false"
        ></v-date-picker>
      </v-menu>
      <v-menu v-model="menu2" :close-on-content-click="false" max-width="290">
        <template #activator="{ on, attrs }">
          <v-text-field
            :value="formatDate(query.updatedAt)"
            clearable
            filled
            dense
            label="Дата обновления"
            append-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
            @click:clear="query.updatedAt = null"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="query.updatedAt"
          @change="menu2 = false"
        ></v-date-picker>
      </v-menu>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn text @click="clear">Очистить</v-btn>
      <v-btn class="primary" :loading="isLoading" @click="submit">Поиск</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'SearchForm',
  props: {
    isLoading: Boolean,
  },
  data: () => {
    return {
      availableStatuses: [],
      query: {
        serialNumber: '',
        ownerPassport: '',
        createdAt: '',
        updatedAt: '',
        status: '',
      },
      menu1: false,
      menu2: false,
    }
  },
  methods: {
    formatDate(date) {
      return date ? this.$nuxt.$moment(date).format('DD.MM.YYYY') : ''
    },
    submit() {
      const body = {}
      Object.keys(this.query).forEach((key) => {
        if (this.query[key]) {
          body[key] = this.query[key]
        }
      })
      this.$emit('form-submit', body)
    },
    clear() {
      Object.keys(this.query).forEach((key) => {
        this.query[key] = ''
      })
    },
    async getWeaponStatuses() {
      await this.$axios.$get(`weapon/all-statuses`).then((data) => {
        this.availableStatuses = data
      })
    },
  },
  mounted() {
    this.getWeaponStatuses()
  }
}
</script>

<style scoped></style>
