<template>
  <v-card :flat="flat">
    <v-card-title v-if="!hideTitle">Информация об оружие</v-card-title>
    <v-card-text class="pa-4">
      <div
        v-if="!weapon.serialNumber && !weapon.serial_number"
        class="text-center"
      >
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
      <div v-else>
        <v-text-field
          :value="weapon.name"
          label="Наименование"
          filled
          :disabled="!editable"
        ></v-text-field>
        <v-textarea
          v-if="weapon.description"
          :value="weapon.description"
          label="Описание"
          filled
          :disabled="!editable"
          no-resize
        ></v-textarea>
        <v-text-field
          :value="weapon.serialNumber || weapon.serial_number"
          label="Серийный номер"
          filled
          disabled
        ></v-text-field>
        <v-text-field
          v-if="weapon.ownerPassport"
          :value="weapon.ownerPassport"
          label="Паспортные данные владельца"
          filled
          :disabled="!editable"
        ></v-text-field>
        <v-text-field
          v-if="weapon.createdAt"
          :value="$moment(weapon.createdAt).format('DD.MM.YYYY HH:mm:ss')"
          label="Первичная дата регистрации"
          filled
          disabled
        ></v-text-field>
        <v-text-field
          v-if="weapon.updatedAt"
          :value="$moment(weapon.updatedAt).format('DD.MM.YYYY HH:mm:ss')"
          label="Дата обновления"
          filled
          disabled
        ></v-text-field>
        <v-text-field
          v-if="weapon.status"
          :value="weapon.status"
          label="Статус"
          filled
          :disabled="!editable"
        ></v-text-field>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'WeaponCard',
  props: {
    flat: {
      type: Boolean,
      default: false,
    },
    hideTitle: {
      type: Boolean,
      default: false,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    weapon: Object,
  },
}
</script>

<style scoped></style>
