<template>
  <v-card outlined hover :to="'/weapon/' + weapon.serialNumber">
    <v-card-title>
      <span>{{ weapon.name }}</span>
      <v-spacer></v-spacer>
      <Status :status="weapon.status" />
    </v-card-title>
    <v-card-text class="pb-0">
      <p>
        <v-icon color="black" class="pr-2"
          >mdi-folder-information-outline</v-icon
        >
        Серийный номер: {{ weapon.serialNumber }}
      </p>
      <p v-if="weapon.description">
        <v-icon color="black" class="pr-2"
          >mdi-card-account-details-outline</v-icon
        >
        Описание: {{ weapon.description }}
      </p>
      <p>
        <v-icon color="black" class="pr-2"
          >mdi-card-account-details-outline</v-icon
        >
        Первичное внесение в систему: {{ weapon.creator }}
      </p>
      <p v-if="weapon.editor">
        <v-icon color="black" class="pr-2"
          >mdi-card-account-details-outline</v-icon
        >
        Последнее изменение в системе: {{ weapon.editor }}
      </p>
    </v-card-text>
    <v-card-actions class="mt-0 pt-0">
      <v-chip-group>
        <v-chip color="secondary">
          <v-icon small class="pr-2">mdi-calendar</v-icon>
          {{ $moment(weapon.createdAt).format('DD.MM.YYYY HH:mm:ss') }}
        </v-chip>
        <v-chip v-if="weapon.updatedAt" color="secondary">
          <v-icon class="pr-2" small>mdi-calendar</v-icon>
          {{ $moment(weapon.updatedAt).format('DD.MM.YYYY HH:mm:ss') }}
        </v-chip>
      </v-chip-group>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'WeaponCard',
  props: {
    weapon: {
      serialNumber: String,
      ownerPassport: String,
      description: String,
      name: String,
      createdAt: String,
      updatedAt: String,
      creator: String,
      editor: String,
      status: Number,
    },
  },
}
</script>

<style scoped></style>
