<template>
  <v-dialog v-model="dialog" persistent max-width="400">
    <v-card>
      <v-card-title class="headline"> Изменение статуса </v-card-title>
      <v-card-text>
        <v-select
          v-model="status"
          :items="availableStatuses"
          label="Статус"
          filled
          dense
        ></v-select>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text :disabled="isLoading" @click="close"> Отмена </v-btn>
        <v-btn
          class="primary"
          :disabled="status === weaponStatus"
          :loading="isLoading"
          @click="changeWeaponOwner"
        >
          Применить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'WeaponChangeStatusDialog',
  props: {
    dialog: Boolean,
    weaponSerialNumber: {
      type: String,
      required: true,
    },
    weaponStatus: {
      type: String,
      required: true,
    },
  },
  data: () => {
    return {
      status: '',
      availableStatuses: [],
      isLoading: false,
    }
  },
  async mounted() {
    await this.getWeaponStatuses()
    this.status = this.weaponStatus
  },
  methods: {
    changeWeaponOwner() {
      this.isLoading = true
      this.$axios
        .$post(`weapon/${this.weaponSerialNumber}/status?status=${this.status}`)
        .then((data) => {
          this.close(true)
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    async getWeaponStatuses() {
      await this.$axios
        .$get(`weapon/next-status?currentStatus=${this.weaponStatus}`)
        .then((data) => {
          this.availableStatuses = data
        })
    },
    close(refresh = false) {
      this.$emit('close-dialog', refresh)
    },
  },
}
</script>

<style scoped></style>
