<template>
  <v-dialog v-model="dialog" persistent max-width="400">
    <v-card>
      <v-card-title class="headline"> Изменение владельца </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="newOwnerSerialNumber"
          label="Паспортные данные"
          filled
          dense
        ></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text :disabled="isLoading" @click="close"> Отмена </v-btn>
        <v-btn
          class="primary"
          :disabled="
            !newOwnerSerialNumber ||
            newOwnerSerialNumber === weaponOwnerPassport ||
            newOwnerSerialNumber.length !== 10
          "
          :loading="isLoading"
          @click="changeWeaponOwner"
        >
          Применить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'WeaponChangeOwnerDialog',
  props: {
    dialog: Boolean,
    weaponSerialNumber: {
      type: String,
      required: true,
    },
    weaponOwnerPassport: {
      type: String,
      required: true,
    },
  },
  data: () => {
    return {
      newOwnerSerialNumber: '',
      isLoading: false,
    }
  },
  mounted() {
    this.newOwnerSerialNumber = this.weaponOwnerPassport
  },
  methods: {
    changeWeaponOwner() {
      this.isLoading = true
      this.$axios
        .$post(
          `weapon/${this.weaponSerialNumber}/transfer?newOwnerPassport=${this.newOwnerSerialNumber}`
        )
        .then((data) => {
          this.close(true)
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    close(refresh = false) {
      this.$emit('close-dialog', refresh)
    },
  },
}
</script>

<style scoped></style>
