﻿<template>
  <div class="text-center">
    <v-dialog v-model="authDialog" width="500" persistent>
      <v-card>
        <v-card-title class="headline primary">
          <span class="white--text">Авторизация</span>
        </v-card-title>
        <v-card-text class="mt-5">
          <v-text-field
            v-model="phoneNumber"
            dense
            filled
            label="Номер телефона"
          ></v-text-field>
          <v-text-field
            v-model="smsCode"
            dense
            filled
            label="SMS-код"
          ></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" :loading="isLoading" @click="login"
            >Авторизоваться</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <particles-bg
      type="cobweb"
      :canvas="{ backgroundColor: 'white', zIndex: 1 }"
      :bg="true"
    />
  </div>
</template>

<script>
import { ParticlesBg } from 'particles-bg-vue'
export default {
  name: 'Index',
  components: { ParticlesBg },
  layout: 'auth',
  auth: false,
  data: () => {
    return {
      authDialog: true,
      isLoading: false,
      phoneNumber: '+79057055235',
      smsCode: '1234',
    }
  },
  methods: {
    async login() {
      this.isLoading = true
      await this.$auth
        .loginWith('local', {
          data: {
            phoneNumber: this.phoneNumber,
            smsCode: this.smsCode,
          },
        })
        .then(() => {
          this.$nuxt.$router.push('/')
        })
        .catch((error) => {
          console.log(error)
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>

<style scoped></style>
