<template>
  <v-row>
    <v-col cols="2">
      <ServiceSearchForm :loading="isLoading" @form-submit="getServices" />
    </v-col>
    <v-col cols="10">
      <v-card>
        <v-card-title> Результаты поиска </v-card-title>
        <v-card-text>
          <v-alert
            v-if="!result.length && !isLoading"
            type="warning"
            class="mt-5"
            >По вашему запросу ничего не найдено</v-alert
          >
          <div v-else-if="isLoading" class="text-center mt-5">
            <v-progress-circular
              :size="50"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
          <ApplicationPreviewCard
            v-for="service in result"
            v-else
            :key="service.id"
            :service="service"
            class="ma-4"
          />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import ServiceSearchForm from '../../components/ServiceSearchForm'
import { getUrlParamsFromObject } from '../../static/utils'
export default {
  name: 'Index',
  components: { ServiceSearchForm },
  data: () => {
    return {
      result: [],
      isLoading: false,
    }
  },
  mounted() {
    this.getServices()
  },
  methods: {
    async getServices(query = '') {
      this.isLoading = true
      await this.$axios
        .$get(`service/list?${getUrlParamsFromObject(query)}`)
        .then((data) => {
          this.result = data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>

<style scoped></style>
