<template>
  <v-stepper v-model="e6" vertical>
    <v-stepper-step :complete="e6 > 1" step="1">
      Персонанальная информация
      <small>Проверьте корректность данных</small>
    </v-stepper-step>

    <v-stepper-content step="1">
      <ProfileCard flat hide-title :user="$nuxt.$auth.user" />
      <v-btn color="primary" @click="e6 = 2"> Продолжить </v-btn>
      <v-btn text to="/profile"> Отмена </v-btn>
    </v-stepper-content>

    <v-stepper-step :complete="e6 > 2" step="2">
      Информация об оружии
    </v-stepper-step>

    <v-stepper-content step="2">
      <v-card-text class="pa-4">
        <v-text-field
          v-model="weapon.name"
          label="Наименование"
          filled
        ></v-text-field>
        <v-textarea
          v-model="weapon.description"
          label="Описание"
          filled
          no-resize
        ></v-textarea>
        <v-text-field
          v-model="weapon.serialNumber"
          label="Серийный номер"
          filled
        ></v-text-field>
      </v-card-text>
      <v-btn color="primary" @click="createService()"> Продолжить </v-btn>
      <v-btn text @click="e6 = 2"> назад </v-btn>
    </v-stepper-content>

    <v-stepper-step :complete="e6 > 3" step="3">
      Заявление успешно подана
    </v-stepper-step>

    <v-stepper-content step="3">
      <v-alert type="success"
        >Ваше заявление №{{ serviceId }} на постановку оружия на учет было успешно
        зарегистрировано.</v-alert
      >
      <v-btn color="primary" to="/profile"> закрыть </v-btn>
    </v-stepper-content>
  </v-stepper>
</template>

<script>
export default {
  name: 'Index',
  data() {
    return {
      e6: 1,
      serviceId: null,
      weapon: {
        name: '',
        serialNumber: '',
        description: '',
      },
    }
  },
  methods: {
    createService() {
      this.$axios
        .$post('service/apply-register-weapon', {
          ...this.weapon,
        })
        .then((data) => {
          this.serviceId = data.id
          this.e6 = 3
        })
    },
  },
}
</script>

<style scoped></style>
